In [104]:
import os ,csv, boto3
import numpy as np
from sklearn import preprocessing, neighbors, model_selection, tree, ensemble
from sklearn.metrics import confusion_matrix
import pandas as pd

In [105]:
df = pd.read_csv(r'C:\Users\Sonal Kumari\Documents\Image_Classification-master\Data5.csv')
df.drop('Image name', axis =1, inplace = True)
df.drop(df.columns[0], axis =1, inplace = True)
df.head()

,Actual Room,Bedroom,Dorm Room,Bed,Rug,Cushion,Pillow,Furniture,Bathroom,Tub,...,Housing,Chair,Urban,Living Room,Couch,Transportation,Outdoors,Tree,Plant,Table
0,Bathroom,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bathroom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bathroom,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
3,Bathroom,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Bathroom,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [124]:
print(len(df))

2171

In [106]:
X = np.array(df.drop(['Actual Room'],1))
y = np.array(df['Actual Room'])

In [107]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

In [121]:
#clf = neighbors.KNeighborsClassifier()
#clf = tree.DecisionTreeClassifier()
clf = ensemble.RandomForestClassifier()
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
print("Accuracy = ",accuracy)
y_predicted = clf.predict(X_test)
result_matrix = pd.DataFrame(confusion_matrix(y_test,y_predicted),
             index=['Bathroom', 'Bedroom', 'Kitchen','Others'],
             columns=['Bathroom', 'Bedroom', 'Kitchen', 'others'])
result_matrix.columns.name='Predicted as :'
result_matrix

Accuracy =  0.9632183908045977

C:\Users\Sonal Kumari\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Predicted as :  Bathroom  Bedroom  Kitchen  others
Bathroom              82        0        0       4
Bedroom                0       86        0       1
Kitchen                1        0       87       2
Others                 2        4        2     164

In [101]:
#setup
os.environ['AWS_DEFAULT_REGION'] = 'ap-south-1'
access_key_id = 'AKIAW45A4ZF2O7CCSMWN'
secret_key = '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'
client = boto3.client('rekognition', aws_access_key_id = access_key_id, aws_secret_access_key = secret_key)
s3_client = boto3.client('s3', aws_access_key_id = access_key_id, aws_secret_access_key = secret_key)

In [83]:
#convert response to acceptable input value

def getInstanceArray(res):
    instance_array = np.zeros(len(df.columns)-1)
    con = 80.0
    p=0
    while p<4 and con>50:
        for item in res['Labels']:
            try:
                index = df.columns.get_loc(item['Name'])
                if (item['Name'] in ['Bathroom','Bedroom','Kitchen']) and item['Confidence']>65:
                    instance_array[index-1] = 2
                    p = p+1
                elif item['Confidence'] > con:
                    instance_array[index-1] = 1
                    p=p+1
            except KeyError:
                continue
        con = con-5
    return instance_array

In [125]:
bucket = 'test-bucket-sonal'
#bucket = 'sumit-room-detection'
#classify response  #prediction_prob = [bathroom_prob, bedroom_prob, kitchen_prob, other]
response = client.detect_labels(Image = {"S3Object": {"Bucket": bucket,
                                                      "Name":'check/bedroom1.jpg'}})
example_measures = getInstanceArray(response)
example_measures = example_measures.reshape(1, -1)
prediction = clf.predict(example_measures)
print(prediction)
clf.predict_proba(example_measures)

['Bedroom']

array([[0., 1., 0., 0.]])