In [1]:
import os ,csv, boto3
import numpy as np
from sklearn import preprocessing, neighbors, model_selection, tree, ensemble
import pandas as pd

In [2]:
df = pd.read_csv(r'/users/sonalkumari/Flyhomes/Image_class/Data ex2 - Sheet1.csv')
df.drop('Image name', axis =1, inplace = True)
df.head()

,Actual Room,Double Sink,Furniture,Door,Floor,Flooring,Indoors,Bathroom,Room,Shower,...,Motorcycle,Sports,Lake,Pool,Swimming Pool,Fitness,Gym,Office Building,Concrete,Parking
0,Bathroom,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bathroom,0,0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bathroom,0,0,0,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Bathroom,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bathroom,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
X = np.array(df.drop(['Actual Room'],1))
y = np.array(df['Actual Room'])
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)

In [4]:
clf = neighbors.KNeighborsClassifier()
#clf = tree.DecisionTreeClassifier()
#clf = ensemble.RandomForestClassifier()
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.9546485260770975

In [8]:
#setup
os.environ['AWS_DEFAULT_REGION'] = 'ap-south-1'
access_key_id = 'AKIAW45A4ZF2O7CCSMWN'
secret_key = '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'
client = boto3.client('rekognition', aws_access_key_id = access_key_id, aws_secret_access_key = secret_key)
s3_client = boto3.client('s3', aws_access_key_id = access_key_id, aws_secret_access_key = secret_key)

In [11]:
#convert response to acceptable input value
threshold_confidence_for_identification = 80.0
def getInstanceArray(res):
    instance_array = np.zeros(len(df.columns)-1)
    for item in res['Labels']:
        try:
            index = df.columns.get_loc(item['Name'])
            instance_array[index] = int(item['Confidence']/threshold_confidence_for_identification)
        except KeyError:
            continue
    return instance_array

In [12]:

#classify response  #prediction_prob = [bathroom_prob, bedroom_prob, kitchen_prob, other]
response = client.detect_labels(Image = {"S3Object": {"Bucket":'sumit-room-detection', 
                                                      "Name":'Bathroom_MLS/23198803_data.jpg'}})

example_measures = getInstanceArray(response)
example_measures = example_measures.reshape(1, -1)
prediction = clf.predict(example_measures)
print(prediction)
clf.predict_proba(example_measures)

['Others']

array([[0. , 0.2, 0. , 0.8]])